<h1><%= link_to event.title, event %></h1>
<p><%= event.description %></p>

<ul>
  <li>Place: <%= event.location %></li>
  <li>Start Time: <%= event.start_time %></li>
  <li>End Time: <%= event.end_time %></li>
</ul>
